---
title: Deploying PCF Runtime for Windows 
owner: Greenhouse
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure the Pivotal Cloud Foundry (PCF) Runtime for Windows v1.12 tile. The PCF Runtime for Windows tile installs Windows cells on your PCF deployment.

## <a id='reqs'></a> Requirements

To install the PCF Runtime for Windows v1.12 tile, you must have Ops Manager v1.12.0 or later and Elastic Runtime v1.12.0 or later deployed to vSphere, Amazon Web Services (AWS), Google Cloud Platform (GCP), or Azure.

## <a id='ert'></a> Step 1: Confirm Elastic Runtime Settings

There are two settings in the Elastic Runtime tile that affect the Windows cells installed by the PCF Runtime for Windows tile. Configure these settings as desired:

* In the **Networking** section, if you select the **Disable SSL certificate verification for this environment** checkbox, SSL certificate verification is disabled for Windows cells.
* In the **System Logging** section, if you configure an external syslog aggregator, logs are drained from Windows cells as well as non-Windows cells.

##<a id='install'></a> Step 2: Install the Tile

1. Download the product file from the **Pivotal Cloud Foundry Runtime for Windows** section of [Pivotal Network](https://network.pivotal.io/products/runtime-for-windows).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Click **+** under the uploaded **PCF Windows Runtime** tile to add it to your staging area.

##<a id='config'></a> Step 3: Configure and Deploy the Tile

1. Click the newly added **PCF Runtime for Windows** tile.

    <%= image_tag('pcf-windows-tile-orange-1-12.png') %>

1. Click **Assign AZs and Networks** or **Assign Networks**. The name of the section varies depending on your IaaS.

1. Assign your AZs and networks and click **Save**.

1. Click **VM Options**. 

    <%= image_tag('vm-options.png') %>

1. Specify how you would like to manage the administrator password for your Windows VMs. The default option is to **Use the Windows default password**.
1. (Optional) Select the **BETA: Enable BOSH-native SSH support on all VMs** checkbox to start the Microsoft beta port of the OpenSSH daemon on port 22 on all VMs. Users will be able to SSH onto Windows VMs with the `bosh ssh` command, and enter a CMD terminal as an administrator user. They can then run `powershell.exe` to start a PowerShell session.

    <p class="note"><strong>Note</strong>: This feature is beta and not considered production-ready.</p>

1. (Optional) If you want your PCF Runtime for Windows application workloads to be deployed to an isolation segment, perform the following steps:

    1. Click **Application Containers**.

        <%= image_tag('app_containers_segment_name.png') %>
    1. Under **Segment Name**, enter a name for your isolation segment. Ensure that this name is unique across your PCF deployment.

    1. Click **Save**.
    
    1. Perform the steps in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the <em>Managing Isolation Segments</em> topic to create the isolation segment in the Cloud Controller Database (CCDB).

1. Click **Errands**. Pivotal recommends that you set the **Install HWC Buildpack Errand** to **On**. This ensures that you receive the most up-to-date HWC Buildpack.
	
    <%= image_tag('errands-hwc.png') %>

1. Click **Resource Config** and adjust the number and VM types of your Windows cells as needed.

1. Click **Save**.

1. Click **Stemcell**. Record the stemcell version number required by the tile. 

    <%= image_tag('pcf-windows-tile-stemcell.png') %>

1. Retrieve the stemcell by following the steps below for your IaaS.
    * For vSphere, you must create your own stemcell. See either [Creating a vSphere Stemcell Manually](vsphere-stemcell-build.html) or [Creating a vSphere Stemcell by Hand](https://github.com/cloudfoundry-incubator/bosh-windows-stemcell-builder/wiki/Creating-a-vSphere-Stemcell-by-Hand) for more information.
    * For AWS, GCP, and Azure, navigate to the **Stemcells for PCF (Windows Server)** section of [Pivotal Network](https://network.pivotal.io/products/stemcells-windows-server).

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the PCF Runtime for Windows tile.

After you have deployed the PCF Runtime for Windows tile, developers can then push .NET applications to Windows cells. For more information, see the [Deploying .NET Apps to Windows Cells](push-windows-apps.html) topic.

##<a id='copy'></a> Step 4: (Optional) Copy the Tile

If you want to create multiple isolation segments for the Windows tile, perform the following steps to copy the **PCF Runtime for Windows** tile with the Replicator tool:

1. Download the Replicator tool from the **Pivotal Cloud Foundry Runtime for Windows** section of [Pivotal Network](https://network.pivotal.io/products/p-windows-runtime).

1. Navigate to the directory where you downloaded the Replicator tool.

1. Replicate the tile:
    <pre class="terminal">
    ./replicator \
        -name "YOUR-NAME" \
        -path /PATH/TO/ORIGINAL.pivotal \
        -output /PATH/TO/COPY.pivotal
    </pre>

    Replace the values above with the following:
    * `YOUR-NAME`: Provide a unique name for the new PCF Runtime for Windows tile. The name must be ten characters or less and only contain alphanumeric characters, dashes, underscores, and spaces.
    * `/PATH/TO/ORIGINAL`: Provide the absolute path to the original PCF Runtime for Windows tile you downloaded from Pivotal Network.
    * `/PATH/TO/COPY`: Provide the absolute path for the copy of the PCF Runtime for Windows tile that the Replicator tool produces.

1. Follow the procedures in this topic using the new `.pivotal` file, starting with [Step 1](#ert).


